@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;700&family=Shantell+Sans:ital,wght@1,300;1,400;1,500;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 16px;    
    overflow-x: hidden;
    scroll-behavior: smooth;    
    font-family: 'Shantell Sans', cursive;    
}

/* MENU */
.content {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #008C45;
    position: fixed;
    padding: 10px 0;
}

/*BellaPizzeria*/
.logo {
    cursor: pointer;
    display: flex;
    align-items: center; 
}

.logo h3 {
   color: #F4F9FF;
   font-size: 16px;
   padding-left: 16px;   
}

.logo h3:hover {
    color: red;
}

.logo img {
    width: 40px;
    height: 100%;    
}

.logo img:hover {
    transform: scale(1.07)
}

/* estilo do menu aberto */
.content.menu-open .list-menu {
    display: flex;
}

.content.menu-open .logo{
    margin-bottom: 20px;
}

.content.menu-open {
    flex-direction: column;
}


/*home, cardapios, sobre nos, contatos*/
.content .list-menu {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.content .list-menu li {
    padding: 5px 0;
}

/*home, cardapio, sobre nos, contatos*/
.content .list-menu li a {
    padding: 5px 0;
    color: #F4F9FF;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 200ms ease-in;
    text-decoration: none;    
}

.content .list-menu li a:hover {
    color: #CD212A;
    text-shadow: 1px 1px 2px #000;
}

.menu-toggle {
    width: 30px;
    height: 20px;     
}

.one, .two, .three { 
    width: 100%;
    height: 3px;
    background-color: #F4F9FF;
    margin: 3px auto;
    transition-duration: 0.5s;
}


/* Primeira Seção */
.first-section {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(img/imagem-banner-fundo.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.first-section h1 {
    color: #008C45;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 48px;
    font-family: 'Inter', sans-serif;
    font-family: 'Shantell Sans', cursive;    
}

.first-section h2 {
    color: rgb(177, 177, 177);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-family: 'Inter', sans-serif;
    font-family: 'Shantell Sans', cursive;        
}

.first-section .conteudo-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  
}

.first-section .conteudo-principal h1 {
    max-width: 500px;
    text-align: center;
}

.conteudo-principal h2 {
    max-width: 200px;
    text-align: center;
}

.conteudo-principal h2 {
    font-size: 2rem;
}

/*Botão faça seu pedido*/
.btn button {
    width: 300px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #CD212A;
    border-radius: 10px;
    color: #F4F9FF;
    font-weight: 800;
    transition: all 400ms ease-in;
    margin-top: 48px;
    font-family: 'Shantell Sans', cursive;
}

/*Botão faça seu pedido*/
.btn button:hover {
    border: 5px solid #008C45;
    background-color: #F4F9FF;
    color: red;             
} 

/*Botão faça seu pedido*/
.btn {
    width: 480px;
    display: flex;
    align-items: center;
    justify-content: center;        
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    width: 150px;     
}

/* section-type1 representa a classe de um tipo de estilo de section, para ser utilizado em diversas section
    da landing page */
.section-type1 {
    padding: 5rem 0;    
} 
    
/* esse .title serve para estilizar o titulo dentro de uma section de classe .section-type1. Todos
    section-type1 podem conter esse .title */
.section-type1 .title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #F4F9FF;
    text-transform: uppercase;
}


/* container representa uma classe utilizada em diversas sessões, para manter o conteúdo do site 
    padronizado */
.container {
    max-width: 980px;
    padding: 0 10px;
    margin: 0 auto;
}

/* Cardápio */
.cardapio {
    background-image: linear-gradient(rgba(12, 12, 12, 0.8), rgba(15, 15, 15, 0.8)), url(img/cardapio-banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.itens-cardapio {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.itens-cardapio > .item {
    width: 100%;
    max-width: 313px;
    background: #a5bacd75;
    border-radius: 10px;
    padding: 10px;
}

.itens-cardapio > .item img {
    display: block;
    max-width: 100%;
}

.itens-cardapio .info .pedir:hover {
    background-color: #5e5252;
    color: rgb(255, 255, 255);
}


/* Tabela de preços */
.tabela-precos {
    border-collapse: collapse;
    margin: 5px auto;
}

.tabela-precos th, .tabela-precos td {
    border: 1px solid grey;
}

.tabela-precos th {
    background-color: #f2fff2;
}

.tabela-precos td {
    background-color: #fff;
    padding: 2px;
}

.tabela-precos caption {
    background-color:#a8ba3f;
    color: #fff;
}

.class .tabelas {
    width: 400%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Sobre nós */
.sobre-nos {
    background-color: #008C45;
    width: 100%;
    color: #F4F9FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-nos img {
    width: 600px;
    margin-left: -2px;
}


.contentsobre {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.contentsobre h2 {
   font-size: 32px;
   margin-bottom: 16px;
   font-family: 'Shantell Sans', cursive;   
}

.contentsobre h2:hover {
    transform: scale(1.07)
}  

.contatos-secao {
    display: block;
    text-align: center;
    
    font-size: 32px;        
}

.contatos-secao div {
     margin: 32px;        
}

/* Contato */
.contatos {
    background-color: #CD212A;
    font-size: 16px;
    color: #F4F9FF;
    padding-bottom: 24px;
}
    
.contatos h3 {
    font-size: 32px;
    margin-bottom: 16px;
    font-family: 'Shantell Sans', cursive;
}

.contatos h3:hover {
    transform: scale(1.07)
}  
    
.contatos-secao {
    display: flex;
    font-size: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
    
.contatos-secao a {
    margin-right: 16px;
}
    
.contatos-secao div {
    cursor: pointer;
}
    
.contatos-secao div a {
    text-decoration: none;
    color: #F4F9FF;
}

.contatos-secao div a:hover {
    color: #008C45;
}

form {
	margin: 40px auto;
    max-width: 400px;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 100%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 100%;
	padding: 15px 0;
	background: #F4F9FF;
	color: black;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
    font-family: 'Shantell Sans', cursive;
}

.enviar:hover {
	background: #008C45;
	transform: scale(1.05);
}

/* Mapa */
.mapa {
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa .title {
    color: #000;
}

.mapa p {
	margin: 0 0 32px;
    text-align: center;
}
    
footer {
    background-color: #000000;
    color: #F4F9FF;
    padding: 10px;
    font-size: 12px;
    text-align: center;
}

@media (min-width: 992px) {
    header .content .list-menu {
        display: flex;
        flex-direction: row;
        gap: 20px;        
    }

    .menu-toggle {
        display: none;
    }

    .content.menu-open {
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    .first-section .conteudo-principal h1 {
        max-width: 1200px;
        text-align: center;
    }

    .first-section .conteudo-principal h2 {
        max-width: 650px;
    }
}
